.pr-key {
    margin-left: 30px;
    width: 70%;
    margin: auto;
    padding: 10px;
}

.btns {
    width: 47%;
    padding: 10px;
}

.questions {
    margin-top: 120px;
    margin-left: 90px;
    width: 80%;
}

.result {
    margin-top: 80px;
    margin-left: 50px;
    width: 80%;
}